NODE_ENV=development

# Log level
# PIECEWISE_SAAS_LOG_LEVEL=error

# Webserver domain, host and port
# PIECEWISE_SAAS_DOMAIN=localhost
# PIECEWISE_SAAS_HOST=localhost
# PIECEWISE_SAAS_PORT=3000

# Postgres database connection settings
# PIECEWISE_SAAS_DB_HOST=localhost
# PIECEWISE_SAAS_DB_PORT=5432
# PIECEWISE_SAAS_DB_DATABASE=piecewise-saas
# PIECEWISE_SAAS_DB_USERNAME=piecewise-saas
# PIECEWISE_SAAS_DB_PASSWORD=
# PIECEWISE_SAAS_DB_POOL_MIN=0
# PIECEWISE_SAAS_DB_POOL_MAX=10
# PIECEWISE_SAAS_DB_TIMEOUT=0

# Optional cloudflare access support
# PIECEWISE_SAAS_CFACCESS_URL=
# PIECEWISE_SAAS_CFACCESS_AUDIENCE=

# Docker only
# PIECEWISE_SAAS_DOMAIN=

# Mapbox API key
# PIECEWISE_SAAS_MAPBOX_KEY=
